body {
    background-color: lightgrey;
    font-family: 'dongle';
    font-weight: 300;

}
h2, p, .readme-wrapper {
    text-align: center;
}
a {
    text-decoration: none;
    color: red;
}
a:hover {
    font-size: bold;
    color: lime;
}
.boxes {
    display: block;
    width: 20rem;
    height: auto;
   
    margin: 1rem;
    padding: .5rem;
    border: 2px solid maroon;
    border-radius: 15px;
    border-width: 1em;
    background-color: mediumaquamarine;
    box-sizing: border-box;
}

.img {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    background-color: midnightblue;
   position: relative;
   top: 3rem;
   left: 2rem;
    
}

h1 {
    color: goldenrod;
}

.original {
    color: indigo;
}

.additional  {
    color: orangered;
}

#first {
    color: green;
}
#second {
    color: indianred;
}
#third {
    color: lightblue;
}
#fourth {
    color: royalblue;
}
#fifth {
    color: slategrey;
}

ul {
    color: tomato;
}

.star {
    color: gold;
}
#wars {
    color: green;
}

.list-divs {
    border: 2px solid black;

}
   
    










